 <section data-ng-controller="HomeController" class="home-canvas">
 <div class="jumbotron text-center trans">
      <h3>ANDELA DEVELOPERS ARE WORLD CLASS DEVELOPERS</h3>
      <p>Thoroughly Furnished for Today's Technology Demand</p>
      <a href="#!/customer" class="btn btn-primary btn.sharp btn-custom-main-primary">View Developers</a>
    <a href="#!/login" class="btn btn-success btn.sharp btn-custom-main-success">I'm A Developer</a>
    </div>
  <div class="row">
    <div class="col-sm-6" ng-repeat="alert in alerts">
      <div class="row">
        <div class="col-xs-4">
          <h1 class="pull-right">
            <button type="button" class="btn" ng-class="alert.colour">
              <i class="glyphicon" ng-class="alert.icon"></i>
            </button>
          </h1> 
        </div>
        <div class="col-xs-8"> 
          <h1>{{alert.total}}</h1>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-8 col-xs-offset-4"> 
          <span class="text-muted">{{alert.description}}</span>
        </div>
      </div>
    </div>
  </div> 
</section>
